<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            <p class="error-msg">{{errorMessage}}</p>
            <p >Created by {{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>